<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .background {
  background-image: url("../static/img/Website/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>{{title}}</title>
</head>
<body>
<div class="background">
    <header>
        <nav class="navbar navbar-light bg-light">
            <div style="display: inline-flex;">
                <img src="../static/img/Website/My icon.png" width="75" height="75" style="margin-left: 5px">
                <a class="navbar-brand" href="/"><h1>Denchic205 Main</h1></a>
            </div>
            {% if current_user.is_authenticated %}
            <img src="../static/img/Avatars/{{current_user.avatar}}" width="75" height="75" style="margin-top: 5px">
            <h2>{{ current_user.name }} {{ current_user.surname }}</h2>
            <a class="btn btn-secondary" href="/settings/{{ current_user.id }}">Settings</a>
            <a href="/logout" class="btn btn-danger">Log out</a>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Register</a>
                <a class="btn btn-success" href="/login">Log in</a>
            </p>
            {% endif %}
            <a class="navbar-brand" href="/Denchic205"><h2>About</h2></a>
        </nav>
    </header>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
</div>
</body>
</html>
