{% extends "base.html" %}

{% block content %}
<style>
   .facebook {
    background: navy;
    color: white;
    font-size: 14pt;
   }
   .twitter {
    background: blue;
    color: white;
    font-size: 14pt;
   }
   .instagram {
    background: linear-gradient(to bottom left, purple, yellow);
    color: white;
    font-size: 14pt;
   }
   .youtube {
    background: red;
    color: white;
    font-size: 14pt;
   }
   .twitch {
    background: purple;
    color: white;
    font-size: 14pt;
   }
   .github {
    background: black;
    color: white;
    font-size: 14pt;
   }
   .curseforge {
    background: brown;
    color: white;
    font-size: 14pt;
   }

</style>
<meta charset="UTF-8">
<h1><b>Denchic205</b></h1>
<font size="6">
    <p>Denchic205 is a programmer, who creates games and apps.</p>
    <p>This website can help you to follow him and his works, find things he is making right now and just know more
        about him</p>
    <p>Main page shows blogs he and admins keep posting every day!</p>
    <p><b>If you want to subscribe him somewhere else, follow these links</b></p>
</font>
<button class="facebook"><a href="https://facebook.com/Denchic205/" target="_blank"><FONT color="white" size="12"><b><p>
    Facebook</p></b></FONT></a></button>
<button class="twitter"><a href="https://twitter.com/denchic205" target="_blank"><FONT color="white" size="12"><p>
    Twitter</p></FONT></a></button>
<button class="instagram"><a href="https://instagram.com/_denchic205_" target="_blank"><FONT color="white" size="12"><p>
    Instagram</p></FONT></a></button>
<button class="youtube"><a href="https://youtube.com/channel/UCEL-BVWq5hinkm0jo0vJIcw" target="_blank"><FONT
        color="white" size="12"><p>Youtube</p></FONT></a></button>
<button class="twitch"><a href="https://twitch.tv/denchic205" target="_blank"><FONT color="white" size="12"><p>
    Twitch</p></FONT></a></button>
<button class="github"><a href="https://github.com/Denchic205/" target="_blank"><FONT color="white" size="12"><p>
    Github</p></FONT></a></button>
<button class="curseforge"><a href="https://www.curseforge.com/members/denchic205/projects" target="_blank"><FONT
        color="white" size="12"><p>Curseforge</p></FONT></a></button>
<h3>2021-04-14</h3>
<h2>Post example</h2>
<p>Post content example</p>
<img src="../static/img/Empty.jpg" height="350" width="500">
<p>Public</p>
<h4>Author: Denchic205 </h4>
<div>
    <a class="btn btn-warning">
        Edit
    </a>
    <a class="btn btn-danger">
        Delete
    </a>
</div>

{% endblock %}