{% extends "base.html" %}

{% block content %}
<h1 align="center">{{ title }}</h1>
<form action="" method="post" enctype="multipart/form-data" class="container">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>{{ form.avatar() }} {{ form.avatar.label }}</p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
     <p>
        {{ form.old_password.label }}<br>
        {{ form.old_password(class="form-control", type="password") }}<br>
        {% for error in form.old_password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(class="form-control", type="password") }}<br>
        {% for error in form.new_password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.age.label }}<br>
        {{ form.age(class="form-control") }}<br>
        {% for error in form.age.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.role.label }}<br>
        {{ form.role(class="form-control") }}<br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
    <p></p>
    <a href="/delete_user/{{ current_user.id }}" class="btn btn-danger">
        Delete
    </a>
</form>
{% endblock %}